.ver
  ul
    right: -100%
    top: 0
.nav
  ul
    visibility:	hidden
    display:	none
  li:hover > ul, li:hover
    visibility:	visible
  ul
    position: absolute
ul.nav,.nav ul>li
  position: relative
.nav li:hover>.hor,.hor li,.nav
  display: inline-block
.nav li:hover>.ver,.ver li
  display: block
